@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap");
html, body {
  font-family: "Mukta", sans-serif;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  max-width: 1140px;
  margin: auto;
  padding: 0.5rem;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .app {
    padding: 1rem;
  }
}

.scoreboard-grid {
  display: grid;
  grid-template-columns: 1fr 40px 40px 40px;
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
  border: 1px solid #000;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .scoreboard-grid {
    grid-template-columns: 1fr 60px 60px 60px;
  }
}
.scoreboard-grid li {
  padding: 5px;
}
@media (min-width: 768px) {
  .scoreboard-grid li {
    font-size: 1.25rem;
  }
}
.scoreboard-grid li:not(.team-name) {
  display: grid;
  place-items: center;
}
.scoreboard-grid .team-name {
  font-size: 0.8rem;
  transition: background 200ms ease;
}
@media (min-width: 768px) {
  .scoreboard-grid .team-name {
    font-size: 1.25rem;
  }
}
@media (min-width: 1140px) {
  .scoreboard-grid .team-name:hover {
    cursor: pointer;
    background: #eee;
  }
}
.scoreboard-grid .label,
.scoreboard-grid .team-name {
  border: 1px solid #000;
}
.scoreboard-grid .label {
  font-size: 0.8rem;
  padding: 3px 2px 1px;
  background: #000;
  color: white;
}
.scoreboard-grid .visitor-runs,
.scoreboard-grid .home-runs,
.scoreboard-grid .visitor-hits,
.scoreboard-grid .home-hits,
.scoreboard-grid .visitor-errors,
.scoreboard-grid .home-errors {
  transition: background 200ms ease;
  border: 1px solid #000;
}
@media (min-width: 1140px) {
  .scoreboard-grid .visitor-runs:hover,
.scoreboard-grid .home-runs:hover,
.scoreboard-grid .visitor-hits:hover,
.scoreboard-grid .home-hits:hover,
.scoreboard-grid .visitor-errors:hover,
.scoreboard-grid .home-errors:hover {
    cursor: pointer;
    background: #eee;
  }
}

.team-at-bat {
  font-weight: 700;
}

.details {
  padding: 0 1.5rem;
  display: grid;
}
@media (min-width: 1140px) {
  .details {
    grid-template-columns: 1fr 1fr;
  }
}
.details p {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1140px) {
  .details p {
    justify-content: center;
  }
}
.details .outs,
.details .inning {
  margin-left: 2rem;
}
.details .inning-group {
  padding: 0 10px;
  font-size: 1.75rem;
}
@media (min-width: 1140px) {
  .details .inning-group {
    margin-right: 2rem;
    font-size: 2.5rem;
  }
}
.details .outs-group {
  transition: background 200ms ease;
  padding: 5px 10px;
  font-size: 1.75rem;
}
@media (min-width: 1140px) {
  .details .outs-group {
    font-size: 2.5rem;
  }
  .details .outs-group:hover {
    cursor: pointer;
    background: #eee;
    border-radius: 3px;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 1140px) {
  main {
    grid-template-rows: auto 2fr 1fr auto;
  }
}

.batter-group {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 0.5rem;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 3px 3px 0 0;
  transition: background 200ms ease;
}
@media (min-width: 768px) {
  .batter-group {
    border: 2px solid #000;
  }
}
@media (min-width: 1140px) {
  .batter-group {
    margin-top: 1rem;
    gap: 1rem;
  }
}
@media (min-width: 1140px) {
  .batter-group:hover {
    cursor: pointer;
    background: #eee;
  }
}
.batter-group p {
  margin: 0;
  font-size: 14px;
}
@media (min-width: 1140px) {
  .batter-group p {
    font-size: 18px;
  }
}

.pitcher-group {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 0.5rem;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 3px 3px 0 0;
  transition: background 200ms ease;
}
@media (min-width: 768px) {
  .pitcher-group {
    border: 2px solid #000;
  }
}
@media (min-width: 1140px) {
  .pitcher-group {
    margin-top: 1rem;
    gap: 1rem;
  }
}
@media (min-width: 1140px) {
  .pitcher-group:hover {
    cursor: pointer;
    background: #eee;
  }
}
.pitcher-group p {
  margin: 0;
  font-size: 14px;
}
@media (min-width: 1140px) {
  .pitcher-group p {
    font-size: 18px;
  }
}

.batting-runs {
  color: blue;
}

.defense {
  color: orange;
}

.speed {
  color: green;
}

.siera {
  color: red;
}

.stamina {
  color: purple;
}

@media (min-width: 1140px) {
  .outcomes-field-dice {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.game-outcomes {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
  font-size: 14px;
}
@media (min-width: 768px) {
  .game-outcomes {
    font-size: 1rem;
    gap: 2rem;
  }
}
.game-outcomes ul {
  -moz-columns: 2;
       columns: 2;
  list-style: none;
  padding: 10px;
  margin: 0;
  -moz-column-width: 5px;
       column-width: 5px;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  border-top: 0;
}
@media (min-width: 768px) {
  .game-outcomes ul {
    border: 2px solid #000;
    border-top: 0;
  }
}
.game-outcomes ul li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .game-outcomes ul li {
    margin-bottom: 5px;
  }
}
@media (min-width: 1140px) {
  .game-outcomes ul li {
    margin-bottom: 7px;
  }
}
.game-outcomes ul li .roll-outcome {
  font-weight: 700;
}

.diamond {
  margin-right: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.field {
  position: relative;
  width: 65px;
  height: 65px;
  border: 3px solid #000;
  transform: rotate(45deg);
}
@media (min-width: 768px) {
  .field {
    width: 100px;
    height: 100px;
  }
}
.field .base {
  width: 16px;
  height: 16px;
  border: 3px solid #000;
  position: absolute;
}
@media (min-width: 768px) {
  .field .base {
    width: 24px;
    height: 24px;
  }
}
.field .base.runner {
  background: #000;
}
.field .base:nth-child(1) {
  top: -3px;
  right: -3px;
}
.field .base:nth-child(2) {
  top: -3px;
  left: -3px;
}
.field .base:nth-child(3) {
  bottom: -3px;
  left: -3px;
}

.dice {
  display: grid;
  place-items: center;
  max-width: 100%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 0;
}
@media (min-width: 768px) {
  .dice {
    gap: 2.5rem;
  }
}
.dice .die {
  width: 35px;
  height: 35px;
  border: 2px solid #000;
  border-radius: 5px;
  display: grid;
  place-items: center;
  margin: 0.5rem 0;
}
@media (min-width: 768px) {
  .dice .die {
    width: 55px;
    height: 55px;
  }
}
.dice .die span {
  font-size: 1.25rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .dice .die span {
    font-size: 2rem;
  }
}
.dice .die.die3 {
  transform: rotate(45deg);
  align-self: start;
}
@media (min-width: 1140px) {
  .dice .die.die3 {
    align-self: center;
  }
}
.dice .die.die3 span {
  display: inline-block;
  transform: rotate(-45deg);
}

.dice-roller {
  margin: auto;
  width: 75%;
}
@media (min-width: 768px) {
  .dice-roller {
    text-align: center;
    width: 50%;
  }
}
@media (min-width: 1140px) {
  .dice-roller {
    text-align: right;
    margin-top: 2rem;
  }
}
.dice-roller button {
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.15rem;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border: 0;
  transition: opacity 200ms ease;
}
.dice-roller button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background: #fff;
  padding: 3rem;
  border: 2px solid #333;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  display: none;
  box-sizing: border-box;
}
@media (min-width: 1140px) {
  .modal {
    width: 500px;
  }
}
.modal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.modal ul li {
  margin: 0;
  padding: 0.5rem 0.75rem;
  display: grid;
  grid-template-columns: 20px 10px 1fr 25px 25px 25px;
  gap: 1rem;
  border-radius: 3px;
}
.modal ul li:hover {
  cursor: pointer;
  background: #eee;
}
.modal ul li span {
  display: inline-block;
}
.modal ul li span.player-batting-runs, .modal ul li span.player-defense, .modal ul li span.player-speed {
  text-align: right;
}
.modal .label {
  margin: 0 0 0.5rem;
}
.modal input {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 3px;
  margin: 0 0 1rem;
  width: 100%;
  box-sizing: border-box;
}
.modal button {
  display: inline-block;
  padding: 0.5rem 2rem;
}
.modal button.save {
  background: #000;
  color: #fff;
}
.modal .button-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.change-pitcher-input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.change-batter-modal .highlight {
  background: #ddd;
}
.change-batter-modal .button-wrapper {
  margin-top: 1rem;
}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #fff;
  width: 100%;
  padding: 3rem;
  box-sizing: border-box;
}

.lineup-spot {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}

.lineup-select-player {
  padding: 3px;
  border: 1px solid #000;
  display: block;
}